*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
}

li{
  list-style: none;
}

:root{
  --drop-shadow:0px 3px 5px 2px rgba(0, 0, 0, 0.171);
  --hover-shadow:0px 5px 8px 2px rgba(0, 0, 0, 0.171);
  --main-color:#f64d4a;
}

/* Navbar */

li, a, button {
  font-weight: 500;
  font-size: 25px;
  color: black;
  text-decoration: none;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    
}
.logo{
    cursor: pointer;
    color: black;
    margin-right: auto;
}
.nav__links{
    list-style: none;
}
.nav__links li{
    display: inline-block;
    padding: 0 20px;
}
.nav__links li a{
    color: black;
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
    color: white;
}

.cart i {
  font-size: 18px;
}
/* Navbar ُىي*/


.main{
    width: 100%;
}
.main-container{
    width: 85%;
    margin: 50px auto
}
.main .main-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 30px;
}
.main-container div{
    animation: fadeIn 0.8s ease;
}
.main-container h2{
   color: #3881ba;
   margin-top: 50px;
   margin-bottom: 20px;
   text-transform: uppercase;
}
.main-container h1{
    font-weight: 700;
    font-size: 50px;
    color: rgba(31,31,31);
}
.main-container p{
    margin: 15px 0;
    font-size: 20px;
}
.main-container .btn {
  background: var(--main-color);
  padding: 15px 25px;
  margin: 15px 0;
  display: inline-block;
  font-size: 20px;
  color: white;
  border-radius: 5px;
  box-shadow: var(--hover-shadow);
}
.main-container .btn:hover{
  background: rgb(214, 214, 214);
  color: black;
  transition: 0.3s ease-in-out;
}

.main-container img{
  width: 100%;
  transition: fadeUp 0.5s ease-in-out;
  animation: fadeUp 0.8s ease;
}

@media(max-width:900px){

  .main .main-container{
    grid-template-columns: 1fr;
  }
  .main-container img{
    order: -1;
  }
}
@keyframes fadeUp{
  from{
    opacity:0.1;
    transform: translateY(-70px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn{
  from{
    opacity:0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}